.container {
  display: flex;
  justify-content: center; /* Горизонтальное центрирование */
  align-items: center;     /* Вертикальное центрирование */
  min-height: 100vh;       /* Высота контейнера = 100% высоты viewport */
}

.main-box {
  background-color: #4CAF50;
  background-color: #4CAF50;
        border-radius: 5px; /* Небольшое закругление углов (можно 5px, 8px и т.д.) */
        padding: 5px; /* Внутренние отступы */
        margin: 5px; /* Внешние отступы */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Легкая тень для объема */
}
body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
    background-color: LightBlue;
}

/* Обычный скругленный div */
.rounded-box {
    width: 200px;
    padding: 20px;
    background-color: #4CAF50; /* Зеленый фон */
    color: white;
    text-align: center;
    border-radius: 15px; /* Скругление углов */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Легкая тень для объема */
}




/* styles.css */

/* Футер, который прижимается к низу страницы */
footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed; /* Или absolute, если футер не должен перекрывать контент */
    bottom: 0;
    left: 0;
}

/* Стиль для ссылки */
footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


#cookie_note {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 100; /* Гарантирует отображение поверх других элементов */
    bottom: 15px;
    left: 50%;
    max-width: 90%; /* Адаптация под узкие экраны */
    transform: translateX(-50%); /* Центрирование */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4); /* Тень для выделения */
}

#cookie_note p {
    margin: 0;
    font-size: 0.7rem;
    text-align: left;
    color: #000000;
}

#cookie_note .btn-sm {
    display: block;
    margin: 10px auto 0; /* Отступ сверху */
}

.cookie_accept {
    width: 20%; /* Ширина кнопки */
}

/* Адаптация под разные экраны */
@media (min-width: 576px) { /* Для планшетов и десктопов */
    #cookie_note.show {
        display: flex; /* Выравнивание содержимого по горизонтали */
        align-items: center; /* Центрирование вертикально */
        gap: 15px; /* Расстояние между текстом и кнопкой */
    }
}

@media (max-width: 575px) { /* Для мобильных */
    #cookie_note.show {
        display: none; /* Скрыто по умолчанию */
    }
}
